@font-face {
  font-family: "Staatliches";
  src: url("Staatliches-Regular.ttf") format("truetype");
}

body {
  font-family: "Staatliches";
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-variant: petite-caps;
  font-size: 30px;
  color: #fff;
  min-height: 100vh;
  background: #22263c;
}

.center-text {
    text-align: center;
}

img {
    max-width: 300px;
    height: auto;
}